QR.IPrism.Adapter/Service References/ProxyVRDetails/VRDetailsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dohqdprm15.qr.qrgrp.local:88/VRDetailsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.Common" />
  <xs:import schemaLocation="http://dohqdprm15.qr.qrgrp.local:88/VRDetailsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" />
  <xs:import schemaLocation="http://dohqdprm15.qr.qrgrp.local:88/VRDetailsService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddIVRSAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.Common" minOccurs="0" name="att" nillable="true" type="q1:Attachment" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIVRSAttachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIVRSAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttachmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIVRSAttachmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailCrew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrId" nillable="true" type="q2:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailCrewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRDetailCrewResult" nillable="true" type="q3:ViewVRCrew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailEnterVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrId" nillable="true" type="q4:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailEnterVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRDetailEnterVRResult" nillable="true" type="q5:ViewVREnterVR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailActionVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrDept" nillable="true" type="q6:VRDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailActionVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRDetailActionVRResult" nillable="true" type="q7:ViewVRActionVR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailAssignVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrId" nillable="true" type="q8:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailAssignVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRDetailAssignVRResult" nillable="true" type="q9:ViewVRAssignVR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrDept" nillable="true" type="q10:VRDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRDetailAdminResult" nillable="true" type="q11:ViewVRSelectFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActionVREligible">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrDept" nillable="true" type="q12:VRDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsActionVREligibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsActionVREligibleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAssigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrId" nillable="true" type="q13:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAssignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAssignedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRForCrew" nillable="true" type="q14:SearchVRForCrew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="SearchVRResult" nillable="true" type="q15:ArrayOfSearchVRResults" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionResolutions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vRActionResolutionInput" nillable="true" type="q16:VRActionResolutionInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionResolutionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetActionResolutionsResult" nillable="true" type="q17:ArrayOfVRActionResolution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVRDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRDeptParm" nillable="true" type="q18:SearchVRDeptParm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVRDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="SearchVRDeptResult" nillable="true" type="q19:ArrayOfSearchVRResults" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceSearchVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRAdminParm" nillable="true" type="q20:SearchVRAdminParm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceSearchVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="AdvanceSearchVRResult" nillable="true" type="q21:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceSearchVRPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRAdminParm" nillable="true" type="q22:SearchVRAdminParm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceSearchVRPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="AdvanceSearchVRPassResult" nillable="true" type="q23:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceSearchVRForComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRAdminParm" nillable="true" type="q24:SearchVRAdminParm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceSearchVRForCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="AdvanceSearchVRForCommentsResult" nillable="true" type="q25:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriticalVRForAlerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCriticalVRForAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetCriticalVRForAlertsResult" nillable="true" type="q26:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleSetFailingAlerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuleSetFailingAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetRuleSetFailingAlertsResult" nillable="true" type="q27:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedVRAlerts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRejectedVRAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetRejectedVRAlertsResult" nillable="true" type="q28:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuddenSurgeVRAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportAboutName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuddenSurgeVRAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetSuddenSurgeVRAlertsResult" nillable="true" type="q29:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDelayCSAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fltDelay" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDelayCSAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetFlightDelayCSAlertsResult" nillable="true" type="q30:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessCrewVRAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lessCrew" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessCrewVRAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetLessCrewVRAlertsResult" nillable="true" type="q31:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVRToAssign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRToAssign" nillable="true" type="q32:SearchVRToAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchVRToAssignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="SearchVRToAssignResult" nillable="true" type="q33:ArrayOfSearchVRForAssign" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftVRForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="flightUser" nillable="true" type="q34:FlightUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftVRForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetDraftVRForUserResult" nillable="true" type="q35:ArrayOfDraftVR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptForSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="ruleSet" nillable="true" type="q36:RuleSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptForSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetDeptForSubCategoryResult" nillable="true" type="q37:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="flightID" nillable="true" type="q38:FlightID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetUsersForFlightResult" nillable="true" type="q39:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="ruleSetMatching" nillable="true" type="q40:RuleSetMatching" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetOtherDepartmentsResult" nillable="true" type="q41:ArrayOfVRDeptEnterVR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVoyageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrInsertUpdate" nillable="true" type="q42:VRInsertUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVoyageReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="InsertVoyageReportResult" nillable="true" type="q43:VRIdNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrID" nillable="true" type="q44:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVRResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVoyageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrInsertUpdate" nillable="true" type="q45:VRInsertUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVoyageReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="flightUserAdmin" nillable="true" type="q46:FlightUserAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrsForFlightResult" nillable="true" type="q47:ArrayOfViewVRDraft" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="VRId" nillable="true" type="q48:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseVRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverRideCommentsVisibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="overrideCmmtsParam" nillable="true" type="q49:OverrideCmmtsParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverRideCommentsVisibilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OverRideCommentsVisibilityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRForDept" nillable="true" type="q50:GetVRForDept" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="OrderByColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrsForDeptResult" nillable="true" type="q51:ArrayOfSearchVRForAction" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForDeptWeb_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRForDept" nillable="true" type="q52:GetVRForDept" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="OrderByColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForDeptWeb_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrsForDeptWeb_InfoResult" nillable="true" type="q53:ArrayOfSearchVRForAction" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForDeptWeb_Action">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRForDept" nillable="true" type="q54:GetVRForDept" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="OrderByColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrsForDeptWeb_ActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrsForDeptWeb_ActionResult" nillable="true" type="q55:ArrayOfSearchVRForAction" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextVRID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedIndex" type="xs:int" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRForDept" nillable="true" type="q56:GetVRForDept" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="OrderByColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentVrID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionReq" type="xs:boolean" />
        <xs:element minOccurs="0" name="isCurrentVRActed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextVRIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextVRIDResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalCount" type="xs:int" />
        <xs:element minOccurs="0" name="newPageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailForDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrDept" nillable="true" type="q57:VRDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRDetailForDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRDetailForDeptResult" nillable="true" type="q58:ViewVRDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVRAtDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrAtDeptUpdate" nillable="true" type="q59:VRAtDeptUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVRAtDeptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVRAtDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrAtDeptUpdate" nillable="true" type="q60:VRAtDeptUpdate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVRAtDeptResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestdDeptCmmtsForDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrDept" nillable="true" type="q61:VRDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestdDeptCmmtsForDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetRestdDeptCmmtsForDeptResult" nillable="true" type="q62:ArrayOfDeptIdName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseVRAtAssign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrId" nillable="true" type="q63:VRId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseVRAtAssignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseVRAtAssignResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVoyageReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="assignVRList" nillable="true" type="q64:AssignVRList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVoyageReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignVoyageReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnterVrForFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="flightIDAdmin" nillable="true" type="q65:FlightIDAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEnterVrForFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEnterVrForFlightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassengerLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="flightID" nillable="true" type="q66:FlightID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassengerLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetPassengerLoadResult" nillable="true" type="q67:PassengerLoad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="staffUserID" nillable="true" type="q68:StaffUserID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetSectionForUserResult" nillable="true" type="q69:ArrayOfSectionId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSectionComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VrAtDeptId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSectionCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetAllSectionCommentsResult" nillable="true" type="q70:ArrayOfVRCommentsHist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRejectionTimeExceeded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrAtDeptId" nillable="true" type="q71:VRAtDeptId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRejectionTimeExceededResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRejectionTimeExceededResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchActingCrew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="VrActingCS" nillable="true" type="q72:VRActingCS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchActingCrewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="SearchActingCrewResult" nillable="true" type="q73:ArrayOfVRActingCS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActingCrew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrActingCS" nillable="true" type="q74:VRActingCS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActingCrewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActingCrewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActingCrew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrActingCS" nillable="true" type="q75:VRActingCS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertActingCrewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertActingCrewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActingCrew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrActingCS" nillable="true" type="q76:VRActingCS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActingCrewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActingCrewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="ReAssignVR" nillable="true" type="q77:ReAssignVRParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignVRResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRLastTenFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrewDetailsID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRLastTenFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRLastTenFlightResult" nillable="true" type="q78:ArrayOfVRCrewFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastTenVRs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrewDetailsID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastTenVRsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetLastTenVRsResult" nillable="true" type="q79:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClosedVRComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vrAtDeptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtComments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modifiedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClosedVRCommentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGroomingUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGroomingUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGroomingUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVrsForDeptWeb_Action">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRForDept" nillable="true" type="q80:GetVRForDept" />
        <xs:element minOccurs="0" name="OrderByColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVrsForDeptWeb_ActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetAllVrsForDeptWeb_ActionResult" nillable="true" type="q81:ArrayOfSearchVRForAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVrsForDeptWeb_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRForDept" nillable="true" type="q82:GetVRForDept" />
        <xs:element minOccurs="0" name="OrderByColumn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVrsForDeptWeb_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetAllVrsForDeptWeb_InfoResult" nillable="true" type="q83:ArrayOfSearchVRForAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VrId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateVRResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftVRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchdetails" nillable="true" type="q84:VRDraftDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDraftVRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetDraftVRDetailsResult" nillable="true" type="q85:ArrayOfVRDraftDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrCount" nillable="true" type="q86:VrCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrCountResult" nillable="true" type="q87:ArrayOfVrCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrStatusCountForDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrStatusCountForDept" nillable="true" type="q88:VrStatusCountForDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrStatusCountForDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrStatusCountForDeptResult" nillable="true" type="q89:ArrayOfVrStatusCountForDept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrReconcilation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrReconcilationReport" nillable="true" type="q90:VrRecouncilationFlightDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrReconcilationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrReconcilationResult" nillable="true" type="q91:ArrayOfVrReconcilation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrReconcilationFlightDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrReconcilationReport" nillable="true" type="q92:VrRecouncilationFlightDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrReconcilationFlightDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrReconcilationFlightDetailsResult" nillable="true" type="q93:ArrayOfVrRecouncilationFlightDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrForDepartmentByTimeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrForDepartmentByTimeline" nillable="true" type="q94:VrForDepartmentByTimeline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrForDepartmentByTimelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrForDepartmentByTimelineResult" nillable="true" type="q95:ArrayOfVrForDepartmentByTimeline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDelayByTimeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="flightDelayCount" nillable="true" type="q96:FlightDelayByTimeline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDelayByTimelineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetFlightDelayByTimelineResult" nillable="true" type="q97:ArrayOfFlightDelayByTimeline" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentPerformanceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="departmentPerformanceReport" nillable="true" type="q98:DepartmentPerformanceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentPerformanceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetDepartmentPerformanceReportResult" nillable="true" type="q99:ArrayOfDepartmentPerformanceReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrBreakDownByRptAbt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="vrBreakDownByRptAbt" nillable="true" type="q100:VRBreakDownByRptAbt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVrBreakDownByRptAbtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVrBreakDownByRptAbtResult" nillable="true" type="q101:ArrayOfVRBreakDownByRptAbt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVRModified">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedVRID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastModifiedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsVRModifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsVRModifiedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriticalVRSendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toAddress" nillable="true" type="q102:ArrayOfstring" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ccAddress" nillable="true" type="q103:ArrayOfstring" />
        <xs:element minOccurs="0" name="fromAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SMTPServer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriticalVRSendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CriticalVRSendMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthlyWiseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthlyWiseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getMonthlyWiseDataResult" nillable="true" type="q104:VRReportsParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthlyWiseDataParm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="searchVRAdminParm" nillable="true" type="q105:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMonthlyWiseDataParmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getMonthlyWiseDataParmResult" nillable="true" type="q106:ArrayOfMonthlyWiseDataParm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataParm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q107:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataParmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getDayWiseDataParmResult" nillable="true" type="q108:VRReportsParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q109:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getDayWiseDataResult" nillable="true" type="q110:VRReportsParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataMon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q111:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataMonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getDayWiseDataMonResult" nillable="true" type="q112:VRReportsParent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataMonParm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q113:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDayWiseDataMonParmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getDayWiseDataMonParmResult" nillable="true" type="q114:ArrayOfDayWiseDataMonParm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVROnSpecificDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q115:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVROnSpecificDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVROnSpecificDayResult" nillable="true" type="q116:VROnSpecificDayParent" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objOutReportFilter" nillable="true" type="q117:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVROnSpecificDayParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q118:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVROnSpecificDayParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVROnSpecificDayParamResult" nillable="true" type="q119:ArrayOfVROnSpecificDayReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q120:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getCategoriesParamResult" nillable="true" type="q121:ArrayOfVROnSpecificDayCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVROnSpecificReportabout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="_VRReportFilter" nillable="true" type="q122:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVROnSpecificReportaboutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVROnSpecificReportaboutResult" nillable="true" type="q123:ArrayOfVROnSpecificDayCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q124:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getSubCategoryResult" nillable="true" type="q125:ArrayOfVROnSpecificDaySubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q126:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRDetailsResult" nillable="true" type="q127:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubCategoriesParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q128:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubCategoriesParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getSubCategoriesParamResult" nillable="true" type="q129:ArrayOfVROnSpecificDaySubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVRDetailsParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objReportFilter" nillable="true" type="q130:VRReportFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getVRDetailsParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="getVRDetailsParamResult" nillable="true" type="q131:ArrayOfSearchVRResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRActionCountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="objEVRActionCount" nillable="true" type="q132:EOEVRActionCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVRActionCountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.IVRS" minOccurs="0" name="GetVRActionCountDetailsResult" nillable="true" type="q133:ArrayOfEOEVRActionCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>