QR.IPrism.Adapter/Service References/ProxyVRDetails/VRDetailsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QR.PRISM.EntityObjects.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Attachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentContent" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AttachmentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachment" nillable="true" type="tns:Attachment" />
</xs:schema>