QR.IPrism.Adapter/Service References/OdsUserAuthentication/UsrMgmtSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Framework/UserMgmt/UsrMgmtSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QR.Framework.Common" />
  <xs:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Framework/UserMgmt/UsrMgmtSvc.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" />
  <xs:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Framework/UserMgmt/UsrMgmtSvc.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QR.Framework.Common" minOccurs="0" name="defaultConditions" nillable="true" type="q1:ArrayOfNameValue" />
        <xs:element minOccurs="0" name="MasterKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FetchExact" type="xs:boolean" />
        <xs:element minOccurs="0" name="pagecount" type="xs:int" />
        <xs:element minOccurs="0" name="pagesize" type="xs:int" />
        <xs:element minOccurs="0" name="getDefaultPage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMasterDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterSearchByCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MasterKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMasterSearchByCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMasterSearchByCodesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSocialMediaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="umSocialUser" nillable="true" type="q2:SocialMediaUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSocialMediaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSocialMediaUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSocialMediaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="socialUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="socialMediaType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSocialMediaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSocialMediaUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateSocialMediaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="socialUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="socialMediaType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateSocialMediaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="AuthenticateSocialMediaUserResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewUserSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewUserSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RenewUserSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthorized">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthorizedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAuthorizedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAppSessionActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAppSessionActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAppSessionActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLDAPUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLDAPUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLDAPUserDetailsResult" nillable="true" type="q4:ArrayOfKeyValueOfstringanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastLoginDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastLoginDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetLastLoginDetailsResult" nillable="true" type="q5:UserLoginAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserLoginDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SrchFromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="SrchToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserLoginDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="SearchUserLoginDetailsResult" nillable="true" type="q6:ArrayOfUserLoginAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSessionDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSessionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QR.Framework.Common" minOccurs="0" name="GetUserSessionDetailsResult" nillable="true" type="q7:UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="singleSignon" type="xs:boolean" />
        <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QR.Framework.Common" minOccurs="0" name="LoginResult" nillable="true" type="q8:UserContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginLite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="singleSignon" type="xs:boolean" />
        <xs:element minOccurs="0" name="TimeOut" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginLiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginLiteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateInstaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateInstallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateInstallerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChannelType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuGroup" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VersionNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="singleSignon" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserAccessDetailsResult" nillable="true" type="q9:ArrayOfMenuDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateIBEUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginAttemptCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateIBEUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="AuthenticateIBEUserResult" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuickLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="screenCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQuickLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetAllQuickLinksResult" nillable="true" type="q11:ArrayOfQuickLinkDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roles" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUsersResult" nillable="true" type="q12:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserDetailsResult" nillable="true" type="q13:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedInUserApplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedInUserApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetLoggedInUserApplicationsResult" nillable="true" type="q14:ArrayOfAdminApplicationsView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRoleIDResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserLocationsResult" nillable="true" type="q15:ArrayOfCustomUserLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="um_User_Role" nillable="true" type="q16:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserRoleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetApplicationRolesResult" nillable="true" type="q17:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserApplicationRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstAppIds" nillable="true" type="q18:ArrayOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserApplicationRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserApplicationRolesResult" nillable="true" type="q19:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetAppRolesResult" nillable="true" type="q20:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetApplicationUserRolesResult" nillable="true" type="q21:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForAppRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roleCodes" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForAppRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUsersForAppRolesResult" nillable="true" type="q23:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForApplicationRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="roleCodes" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersForApplicationRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUsersForApplicationRolesResult" nillable="true" type="q25:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentRoleAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoleID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentRoleAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetComponentRoleAccessResult" nillable="true" type="q26:ArrayOfRolePermission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loggedInUserType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserTypesResult" nillable="true" type="q27:ArrayOfAdminUserConfigDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="umUserDetails" nillable="true" type="q28:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserDetailsResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMultipleUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetMultipleUserDetailsResult" nillable="true" type="q29:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetAppUserMasterDetailsResult" nillable="true" type="q30:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetConfigurationDetailsResult" nillable="true" type="q31:ArrayOfUserPolicy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPrivilegeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPrivilegeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserPrivilegeDetailsResult" nillable="true" type="q32:ArrayOfUserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAttributeDetailsForApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAttributeDetailsForAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserAttributeDetailsForAppResult" nillable="true" type="q33:ArrayOfUserAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAttributeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="attributeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAttributeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetAllUserAttributeDetailsResult" nillable="true" type="q34:ArrayOfUserAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLocationAccessDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLocationAccessDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetUserLocationAccessDetailsResult" nillable="true" type="q35:ArrayOfUserLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApplicationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRoleDetailsResult" nillable="true" type="q36:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:decimal" />
        <xs:element minOccurs="0" name="applicationID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LocationType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdmin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="SearchUserDetailsResult" nillable="true" type="q37:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateDeActivateUserResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserPrivilege">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserPrivilegeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateDeActivateUserPrivilegeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserRoleLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserRoleLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateDeActivateUserRoleLocationResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserAdminRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateUserAdminRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateDeActivateUserAdminRightsResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateRolePermission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateRolePermissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateDeActivateRolePermissionResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:decimal" />
        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateDeActivateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateDeActivateRoleResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterWebUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="umWebUser" nillable="true" type="q38:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterWebUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterWebUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWebUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWebUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveWebUserPasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWebUserAccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveWebUserAccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="RetrieveWebUserAccountDetailsResult" nillable="true" type="q39:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="umWebUser" nillable="true" type="q40:User" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="action" type="q41:UserProfileActions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWebUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWebUserProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateWebUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginAttemptCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateWebUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="AuthenticateWebUserResult" nillable="true" type="q42:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserActiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserActiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSocialMediaDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSocialMediaDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="GetSocialMediaDetailsResult" nillable="true" type="q43:ArrayOfSocialMediaUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSocialMediaUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/QR.Common.UserManagement.DTO" minOccurs="0" name="umSocialUser" nillable="true" type="q44:SocialMediaUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSocialMediaUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSocialMediaUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>