QR.IPrism.Adapter/Service References/FlightDetailService/FlightDetail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FlightDetail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/QR.Framework.Common" />
      <xsd:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QR.GS.DCSInterfaces.DTO" />
      <xsd:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlightDetail_GetPassengerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassengerDetails" />
  </wsdl:message>
  <wsdl:message name="IFlightDetail_GetPassengerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPassengerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightDetail_GetPassengerDetails_ListOf_ServerValidationErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/QR.Framework.Common" name="detail" element="q1:ArrayOfServerValidationError" />
  </wsdl:message>
  <wsdl:message name="IFlightDetail_GetFlightDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightDetails" />
  </wsdl:message>
  <wsdl:message name="IFlightDetail_GetFlightDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightDetail_GetFlightDetails_ListOf_ServerValidationErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/QR.Framework.Common" name="detail" element="q2:ArrayOfServerValidationError" />
  </wsdl:message>
  <wsdl:portType name="IFlightDetail">
    <wsdl:operation name="GetPassengerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightDetail/GetPassengerDetails" message="tns:IFlightDetail_GetPassengerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightDetail/GetPassengerDetailsResponse" message="tns:IFlightDetail_GetPassengerDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFlightDetail/GetPassengerDetailsListOf_ServerValidationErrorFault" name="ListOf_ServerValidationErrorFault" message="tns:IFlightDetail_GetPassengerDetails_ListOf_ServerValidationErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlightDetail/GetFlightDetails" message="tns:IFlightDetail_GetFlightDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlightDetail/GetFlightDetailsResponse" message="tns:IFlightDetail_GetFlightDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFlightDetail/GetFlightDetailsListOf_ServerValidationErrorFault" name="ListOf_ServerValidationErrorFault" message="tns:IFlightDetail_GetFlightDetails_ListOf_ServerValidationErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlightDetail" type="tns:IFlightDetail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPassengerDetails">
      <soap:operation soapAction="http://tempuri.org/IFlightDetail/GetPassengerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ListOf_ServerValidationErrorFault">
        <soap:fault use="literal" name="ListOf_ServerValidationErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFlightDetails">
      <soap:operation soapAction="http://tempuri.org/IFlightDetail/GetFlightDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ListOf_ServerValidationErrorFault">
        <soap:fault use="literal" name="ListOf_ServerValidationErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightDetail">
    <wsdl:port name="BasicHttpBinding_IFlightDetail" binding="tns:BasicHttpBinding_IFlightDetail">
      <soap:address location="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>