QR.IPrism.Adapter/Service References/FlightDetailService/FlightDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dohqdalt02.qr.qrgrp.local/QHome/Services/DCSInterfaces/FlightDetail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QR.GS.DCSInterfaces.DTO" />
  <xs:element name="GetPassengerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QR.GS.DCSInterfaces.DTO" minOccurs="0" name="criteria" nillable="true" type="q1:DNBFlightSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassengerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QR.GS.DCSInterfaces.DTO" minOccurs="0" name="GetPassengerDetailsResult" nillable="true" type="q2:ArrayOfPassenger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QR.GS.DCSInterfaces.DTO" minOccurs="0" name="criteria" nillable="true" type="q3:DNBFlightSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QR.GS.DCSInterfaces.DTO" minOccurs="0" name="GetFlightDetailsResult" nillable="true" type="q4:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>